<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Show', school_department_course_review_path(school_id: @school.id, department_id: @department.id, course_id: @course.id, id: @review.id) %> |
